.shopsList{
    margin: 20px;
    width: 15%;
    height: 800px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: auto;

}

.theme {
    margin: 10px auto;
    text-align: center;
}

.buttonContainer {
    padding: 0;

}
.shopButton {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
    display: block;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    width: 90%;
}