header {
    display: flex;
    margin: 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

.logo {
    margin: 10px 30px;
    display: inline-block;
}

.shoppingCart {
    margin: 10px 30px;
}

.line {
    background-color: black;
    width: 3px;
}

.shoppingCart a {
    text-decoration: none;
    color: blue;

}

.logo a {
    color: blue;
}